In [1]:
from indicator.technology.pressure import *
import tushare as ts
pro = ts.pro_api('59e1f90437c021fb31c99c20d08493070f17305afe606fdf0ef89f37')
df = pro.daily(ts_code='000001.SZ', start_date='20180701', end_date='20190718')
df['volume'] = df['vol']
df.tail()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount,volume
238,000001.SZ,20180706,8.61,8.78,8.45,8.66,8.60,0.06,0.70,988282.69,852071.526,988282.69
239,000001.SZ,20180705,8.62,8.73,8.55,8.60,8.61,-0.01,-0.12,835768.77,722169.579,835768.77
240,000001.SZ,20180704,8.63,8.75,8.61,8.61,8.67,-0.06,-0.69,711153.37,617278.559,711153.37
241,000001.SZ,20180703,8.69,8.70,8.45,8.67,8.61,0.06,0.70,1274838.57,1096657.033,1274838.57
242,000001.SZ,20180702,9.05,9.05,8.55,8.61,9.09,-0.48,-5.28,1315520.13,1158545.868,1315520.13

In [8]:
# 方向标准离差指数
DDI(df, 13, 26, 1, 5).tail()

          DDI      ADDI        AD
238 -0.518519 -0.191783 -0.172055
239 -0.529851 -0.204785 -0.182089
240 -0.427386 -0.213347 -0.191692
241 -0.366972 -0.219256 -0.201577
242 -0.028037 -0.211901 -0.208214

In [ ]:
# 上下影线指标
shadow(df).tail()